<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %} | GriceBlog</title>

    {# Inter font #}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.min.js"></script>
    {% if get_env(name="LOCO_ENV", default="development") == "production" -%}
      {#
        Use built static styles.
        If testing these builds in development, run `just frontend build` to refresh
        or `just frontend dev` to create a watch server that rebuilds on changes.
      -#}
      <link href="/static/styles.css" rel="stylesheet" />
    {% else -%}
      {# Use the Play CDN in development #}
      <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
      {#
        In the script block below, keep the config matching that of
        'frontend/tailwind.config.js' (minus plugins).
        If there are no customizations, the block can be commented out.
        TODO: find a way to read the file via Tera as a single-source?
      #}
      <script>
        // const defaultTheme = require('tailwindcss/defaultTheme')
        // ^ Does not work. But, `tailwind` is provided by the Play CDN script:
        const defaultTheme = tailwind.defaultTheme;

        // In standard config, we do `export default {...}`.
        // In Play CDN version, we assign to `tailwind.config` with our overrides:
        tailwind.config = {
          theme: {
            fontFamily: {
              sans: ["InterVariable", ...defaultTheme.fontFamily.sans],
            }
          }
        };
      </script>
    {% endif -%}
    {% block head %}{% endblock head %}
  </head>

  <body class="prose p-10">
    <h1>The place to be!</h1>
    <div id="content">{% block content %}{% endblock content %}</div>

    {% block js %}{% endblock js %}
  </body>
</html>
