{% extends "base.html" %}

{% block title %}
  List of post
{% endblock title %}

{% block content %}
  <div class="mt-6 flex items-center justify-start gap-x-3">
    {{ macros_btn::button(text="New post", style="callout", type="anchor", href="/posts/new") }}
  </div>

  <div class="bg-white px-6 pb-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
      <ul role="list" class="space-y-3">
        {% for item in items %}
          <li>
            <a href="/posts/{{ item.id }}" class="no-underline">
              <div class="overflow-hidden rounded-lg bg-white shadow">
                <div class="px-4 py-5 sm:p-6 prose">
                  <h2>{{ item.title }}</h2>
                  {{item.content | truncate(length=50) | markdown}}
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
